In [59]:
import pandas as pd
import numpy as np
import math

In [60]:
gamesdf = pd.read_csv("../resources/preclean/clean_games.csv", parse_dates=["SEASON"])
gamesdf = gamesdf.rename(columns={"Unnamed: 0" : "CATA"})
gamesdf["GAME_DATE_EST"] = pd.to_datetime(gamesdf.GAME_DATE_EST)

gamesdf

,CATA,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,0,2022-12-22,22200477,1610612740,1610612759,2022-01-01,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,1,2022-12-22,22200478,1610612762,1610612764,2022-01-01,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2,2022-12-21,22200466,1610612739,1610612749,2022-01-01,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,3,2022-12-21,22200467,1610612755,1610612765,2022-01-01,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,4,2022-12-21,22200468,1610612737,1610612741,2022-01-01,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26547,26646,2014-10-06,11400007,1610612737,1610612740,2014-01-01,1610612737,93.0,0.419,0.821,...,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
26548,26647,2014-10-06,11400004,1610612741,1610612764,2014-01-01,1610612741,81.0,0.338,0.719,...,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
26549,26648,2014-10-06,11400005,1610612747,1610612743,2014-01-01,1610612747,98.0,0.448,0.682,...,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
26550,26649,2014-10-05,11400002,1610612761,1610612758,2014-01-01,1610612761,99.0,0.440,0.771,...,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
26551,26650,2014-10-04,11400001,1610612748,1610612740,2014-01-01,1610612748,86.0,0.431,0.679,...,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [61]:
gamesdf["REFERENCE"] = gamesdf.GAME_ID.astype(str) + gamesdf.CATA.astype(str)
gamesdf = gamesdf.drop(["CATA"], axis=1)
gamesdf

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,...,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,REFERENCE
0,2022-12-22,22200477,1610612740,1610612759,2022-01-01,1610612740,126.0,0.484,0.926,0.382,...,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1,222004770
1,2022-12-22,22200478,1610612762,1610612764,2022-01-01,1610612762,120.0,0.488,0.952,0.457,...,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1,222004781
2,2022-12-21,22200466,1610612739,1610612749,2022-01-01,1610612739,114.0,0.482,0.786,0.313,...,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1,222004662
3,2022-12-21,22200467,1610612755,1610612765,2022-01-01,1610612755,113.0,0.441,0.909,0.297,...,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1,222004673
4,2022-12-21,22200468,1610612737,1610612741,2022-01-01,1610612737,108.0,0.429,1.000,0.378,...,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0,222004684
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26547,2014-10-06,11400007,1610612737,1610612740,2014-01-01,1610612737,93.0,0.419,0.821,0.421,...,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1,1140000726646
26548,2014-10-06,11400004,1610612741,1610612764,2014-01-01,1610612741,81.0,0.338,0.719,0.381,...,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0,1140000426647
26549,2014-10-06,11400005,1610612747,1610612743,2014-01-01,1610612747,98.0,0.448,0.682,0.500,...,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1,1140000526648
26550,2014-10-05,11400002,1610612761,1610612758,2014-01-01,1610612761,99.0,0.440,0.771,0.333,...,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1,1140000226649
26551,2014-10-04,11400001,1610612748,1610612740,2014-01-01,1610612748,86.0,0.431,0.679,0.333,...,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0,1140000126650

In [62]:
gamesdf["REFERENCE"].duplicated().sum()

0

In [63]:
len(gamesdf)

26552

In [64]:
gamesdf = gamesdf.drop_duplicates(["GAME_ID"], keep="first")

In [65]:
gamesdf["GAME_ID"].duplicated().sum()

0

In [66]:
len(gamesdf)

26523

In [67]:
noref_games = gamesdf.drop(["REFERENCE"], axis=1)
noref_games

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,1610612740,1610612759,2022-01-01,1610612740,126.0,0.484,0.926,0.382,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,1610612762,1610612764,2022-01-01,1610612762,120.0,0.488,0.952,0.457,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,1610612739,1610612749,2022-01-01,1610612739,114.0,0.482,0.786,0.313,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,1610612755,1610612765,2022-01-01,1610612755,113.0,0.441,0.909,0.297,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,1610612737,1610612741,2022-01-01,1610612737,108.0,0.429,1.000,0.378,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26547,2014-10-06,11400007,1610612737,1610612740,2014-01-01,1610612737,93.0,0.419,0.821,0.421,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
26548,2014-10-06,11400004,1610612741,1610612764,2014-01-01,1610612741,81.0,0.338,0.719,0.381,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
26549,2014-10-06,11400005,1610612747,1610612743,2014-01-01,1610612747,98.0,0.448,0.682,0.500,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
26550,2014-10-05,11400002,1610612761,1610612758,2014-01-01,1610612761,99.0,0.440,0.771,0.333,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
26551,2014-10-04,11400001,1610612748,1610612740,2014-01-01,1610612748,86.0,0.431,0.679,0.333,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [68]:
detailsdf = pd.read_csv("../resources/preclean/clean_games_details.csv")
detailsdf[["MIN", "SECOND"]] = detailsdf["MIN"].str.split(":", expand=True)
detailsdf = detailsdf.drop(detailsdf[["SECOND"]], axis=1)
detailsdf = detailsdf.rename(columns={"Unnamed: 0" : "CATA"})
detailsdf["MIN"] = detailsdf["MIN"].astype(float)
detailsdf

/Users/mitch/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,CATA,GAME_ID,TEAM_ID,PLAYER_ID,PLAYER_NAME,MIN,FGM,FGA,FG_PCT,FG3M,...,FG3_PCT,FTM,FTA,FT_PCT,REB,AST,STL,BLK,TO,PTS
0,0,22200477,1610612759,1629641,Romeo Langford,18.0,1.0,1.0,1.000,0.0,...,0.000,0.0,0.0,0.000,2.0,0.0,1.0,0.0,2.0,2.0
1,1,22200477,1610612759,1631110,Jeremy Sochan,31.0,7.0,14.0,0.500,2.0,...,0.500,7.0,10.0,0.700,9.0,6.0,1.0,0.0,2.0,23.0
2,2,22200477,1610612759,1627751,Jakob Poeltl,21.0,6.0,9.0,0.667,0.0,...,0.000,1.0,1.0,1.000,4.0,1.0,1.0,0.0,2.0,13.0
3,3,22200477,1610612759,1630170,Devin Vassell,30.0,4.0,13.0,0.308,1.0,...,0.167,1.0,1.0,1.000,9.0,5.0,3.0,0.0,2.0,10.0
4,4,22200477,1610612759,1630200,Tre Jones,27.0,7.0,12.0,0.583,1.0,...,0.333,4.0,4.0,1.000,2.0,3.0,0.0,0.0,2.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558933,668623,11200005,1610612743,202706,Jordan Hamilton,NaN,4.0,9.0,0.444,3.0,...,0.500,6.0,7.0,0.857,2.0,0.0,2.0,0.0,1.0,17.0
558934,668624,11200005,1610612743,202702,Kenneth Faried,NaN,7.0,11.0,0.636,0.0,...,0.000,4.0,4.0,1.000,1.0,1.0,1.0,0.0,3.0,18.0
558935,668625,11200005,1610612743,201585,Kosta Koufos,NaN,3.0,7.0,0.429,0.0,...,0.000,0.0,0.0,0.000,8.0,0.0,1.0,0.0,0.0,6.0
558936,668626,11200005,1610612743,202389,Timofey Mozgov,NaN,1.0,1.0,1.000,0.0,...,0.000,0.0,2.0,0.000,3.0,1.0,0.0,0.0,4.0,2.0
558937,668627,11200005,1610612743,201951,Ty Lawson,NaN,3.0,6.0,0.500,0.0,...,0.000,2.0,4.0,0.500,2.0,6.0,2.0,0.0,6.0,8.0

In [69]:
detailsdf =  detailsdf.dropna()
detailsdf["UNIQUE_ID"] = detailsdf.GAME_ID.astype(str) + detailsdf.CATA.astype(str)
detailsdf = detailsdf.drop(["CATA"], axis=1)
detailsdf

/Users/mitch/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,GAME_ID,TEAM_ID,PLAYER_ID,PLAYER_NAME,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,...,FTM,FTA,FT_PCT,REB,AST,STL,BLK,TO,PTS,UNIQUE_ID
0,22200477,1610612759,1629641,Romeo Langford,18.0,1.0,1.0,1.000,0.0,0.0,...,0.0,0.0,0.000,2.0,0.0,1.0,0.0,2.0,2.0,222004770
1,22200477,1610612759,1631110,Jeremy Sochan,31.0,7.0,14.0,0.500,2.0,4.0,...,7.0,10.0,0.700,9.0,6.0,1.0,0.0,2.0,23.0,222004771
2,22200477,1610612759,1627751,Jakob Poeltl,21.0,6.0,9.0,0.667,0.0,0.0,...,1.0,1.0,1.000,4.0,1.0,1.0,0.0,2.0,13.0,222004772
3,22200477,1610612759,1630170,Devin Vassell,30.0,4.0,13.0,0.308,1.0,6.0,...,1.0,1.0,1.000,9.0,5.0,3.0,0.0,2.0,10.0,222004773
4,22200477,1610612759,1630200,Tre Jones,27.0,7.0,12.0,0.583,1.0,3.0,...,4.0,4.0,1.000,2.0,3.0,0.0,0.0,2.0,19.0,222004774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557051,11200086,1610612747,2768,Chris Duhon,8.0,1.0,3.0,0.333,0.0,1.0,...,0.0,0.0,0.000,1.0,2.0,1.0,0.0,0.0,2.0,11200086666741
557052,11200086,1610612747,202365,Devin Ebanks,15.0,2.0,5.0,0.400,0.0,2.0,...,0.0,0.0,0.000,1.0,1.0,0.0,0.0,1.0,4.0,11200086666742
557053,11200086,1610612747,2730,Dwight Howard,33.0,8.0,12.0,0.667,0.0,0.0,...,3.0,8.0,0.375,12.0,2.0,0.0,4.0,5.0,19.0,11200086666743
557054,11200086,1610612747,201975,Jodie Meeks,15.0,2.0,4.0,0.500,2.0,2.0,...,0.0,0.0,0.000,1.0,1.0,0.0,0.0,0.0,6.0,11200086666744
557055,11200086,1610612747,977,Kobe Bryant,33.0,6.0,12.0,0.500,1.0,4.0,...,8.0,8.0,1.000,5.0,3.0,1.0,0.0,3.0,21.0,11200086666745

In [70]:
detailsdf["UNIQUE_ID"].duplicated().sum()

0

In [71]:
detailsdf.dtypes

GAME_ID          int64
TEAM_ID          int64
PLAYER_ID        int64
PLAYER_NAME     object
MIN            float64
FGM            float64
FGA            float64
FG_PCT         float64
FG3M           float64
FG3A           float64
FG3_PCT        float64
FTM            float64
FTA            float64
FT_PCT         float64
REB            float64
AST            float64
STL            float64
BLK            float64
TO             float64
PTS            float64
UNIQUE_ID       object
dtype: object

In [72]:
rankingdf = pd.read_csv("../resources/preclean/clean_ranking.csv", parse_dates=["DATE"])
rankingdf

,Unnamed: 0,TEAM_ID,CONFERENCE,TEAM,G,W,L,W_PCT,DATE
0,0,1610612743,West,Denver,30,19,11,0.633,2022-12-22
1,1,1610612763,West,Memphis,30,19,11,0.633,2022-12-22
2,2,1610612740,West,New Orleans,31,19,12,0.613,2022-12-22
3,3,1610612756,West,Phoenix,32,19,13,0.594,2022-12-22
4,4,1610612746,West,LA Clippers,33,19,14,0.576,2022-12-22
...,...,...,...,...,...,...,...,...,...
210337,210337,1610612765,East,Detroit,82,29,53,0.354,2014-09-01
210338,210338,1610612738,East,Boston,82,25,57,0.305,2014-09-01
210339,210339,1610612753,East,Orlando,82,23,59,0.280,2014-09-01
210340,210340,1610612755,East,Philadelphia,82,19,63,0.232,2014-09-01
210341,210341,1610612749,East,Milwaukee,82,15,67,0.183,2014-09-01

In [74]:
rankingdf = rankingdf.rename(columns={"Unnamed: 0" : "CATA"})
rankingdf["RANK_ID"] = rankingdf.TEAM_ID.astype(str) + rankingdf.CATA.astype(str)
rankingdf

,CATA,TEAM_ID,CONFERENCE,TEAM,G,W,L,W_PCT,DATE,RANK_ID
0,0,1610612743,West,Denver,30,19,11,0.633,2022-12-22,16106127430
1,1,1610612763,West,Memphis,30,19,11,0.633,2022-12-22,16106127631
2,2,1610612740,West,New Orleans,31,19,12,0.613,2022-12-22,16106127402
3,3,1610612756,West,Phoenix,32,19,13,0.594,2022-12-22,16106127563
4,4,1610612746,West,LA Clippers,33,19,14,0.576,2022-12-22,16106127464
...,...,...,...,...,...,...,...,...,...,...
210337,210337,1610612765,East,Detroit,82,29,53,0.354,2014-09-01,1610612765210337
210338,210338,1610612738,East,Boston,82,25,57,0.305,2014-09-01,1610612738210338
210339,210339,1610612753,East,Orlando,82,23,59,0.280,2014-09-01,1610612753210339
210340,210340,1610612755,East,Philadelphia,82,19,63,0.232,2014-09-01,1610612755210340
210341,210341,1610612749,East,Milwaukee,82,15,67,0.183,2014-09-01,1610612749210341

In [ ]:
rankingdf = rankingdf.drop(["CATA"], axis=1)
rankingdf.head()

In [75]:
rankingdf["TEAM_ID"].duplicated().sum()

210312

In [55]:
rankingdf.dtypes

TEAM_ID                int64
CONFERENCE            object
TEAM                  object
G                      int64
W                      int64
L                      int64
W_PCT                float64
DATE          datetime64[ns]
RANK_ID               object
dtype: object

In [56]:
teams = pd.DataFrame(rankingdf[["TEAM_ID", "CONFERENCE", "TEAM"]])
teams["TEAM_ID"].duplicated().sum()

210312

In [57]:
teams = teams.drop_duplicates(["TEAM_ID"], keep="first")
teams

         TEAM_ID CONFERENCE           TEAM
0     1610612743       West         Denver
1     1610612763       West        Memphis
2     1610612740       West    New Orleans
3     1610612756       West        Phoenix
4     1610612746       West    LA Clippers
5     1610612758       West     Sacramento
6     1610612762       West           Utah
7     1610612757       West       Portland
8     1610612742       West         Dallas
9     1610612750       West      Minnesota
10    1610612744       West   Golden State
11    1610612760       West  Oklahoma City
12    1610612747       West    L.A. Lakers
13    1610612759       West    San Antonio
14    1610612745       West        Houston
4275  1610612749       East      Milwaukee
4276  1610612738       East         Boston
4277  1610612739       East      Cleveland
4278  1610612751       East       Brooklyn
4279  1610612755       East   Philadelphia
4280  1610612752       East       New York
4281  1610612737       East        Atlanta
4282  1610612754       East        Indiana
4283  1610612748       East          Miami
4284  1610612761       East        Toronto
4285  1610612741       East        Chicago
4286  1610612753       East        Orlando
4287  1610612764       East     Washington
4288  1610612766       East      Charlotte
4289  1610612765       East        Detroit

In [34]:
team_group = pd.DataFrame(teams.groupby(["CONFERENCE", "TEAM"]))
team_group.count()

0    35
1    35
dtype: int64

In [56]:
playersdf = pd.read_csv("../resources/preclean/players.csv", parse_dates=["SEASON"])
playersdf

           PLAYER_NAME     TEAM_ID  PLAYER_ID     SEASON
0        Royce O'Neale  1610612762    1626220 2019-01-01
1     Bojan Bogdanovic  1610612762     202711 2019-01-01
2          Rudy Gobert  1610612762     203497 2019-01-01
3     Donovan Mitchell  1610612762    1628378 2019-01-01
4          Mike Conley  1610612762     201144 2019-01-01
...                ...         ...        ...        ...
7223       Lanny Smith  1610612758     201831 2009-01-01
7224     Warren Carter  1610612752     201999 2009-01-01
7225      Bennet Davis  1610612751     201834 2009-01-01
7226    Brian Hamilton  1610612751     201646 2009-01-01
7227   Wesley Matthews  1610612762     500032 2009-01-01

[7228 rows x 4 columns]

In [57]:
playersdf["PLAYER_ID"].isnull().sum()

0

In [58]:
playersdf["PLAYER_ID"].duplicated().sum()

5459

In [59]:
playersdf["CATA"] = range(len(playersdf["PLAYER_ID"]))
playersdf["TABLE_ID"] = playersdf.PLAYER_ID.astype(str) + playersdf.CATA.astype(str)
playersdf = playersdf.drop(["CATA"], axis=1)
playersdf

           PLAYER_NAME     TEAM_ID  PLAYER_ID     SEASON    TABLE_ID
0        Royce O'Neale  1610612762    1626220 2019-01-01    16262200
1     Bojan Bogdanovic  1610612762     202711 2019-01-01     2027111
2          Rudy Gobert  1610612762     203497 2019-01-01     2034972
3     Donovan Mitchell  1610612762    1628378 2019-01-01    16283783
4          Mike Conley  1610612762     201144 2019-01-01     2011444
...                ...         ...        ...        ...         ...
7223       Lanny Smith  1610612758     201831 2009-01-01  2018317223
7224     Warren Carter  1610612752     201999 2009-01-01  2019997224
7225      Bennet Davis  1610612751     201834 2009-01-01  2018347225
7226    Brian Hamilton  1610612751     201646 2009-01-01  2016467226
7227   Wesley Matthews  1610612762     500032 2009-01-01  5000327227

[7228 rows x 5 columns]

In [60]:
playersdf["TABLE_ID"].duplicated().sum()

0

In [61]:
playersdf.dtypes

PLAYER_NAME            object
TEAM_ID                 int64
PLAYER_ID               int64
SEASON         datetime64[ns]
TABLE_ID               object
dtype: object

In [62]:
gamesdf.to_csv("../resources/games.csv", index=False)
detailsdf.to_csv("../resources/game_details.csv", index=False)
rankingdf.to_csv("../resources/ranking.csv", index=False)
playersdf.to_csv("../resources/players.csv", index=False)
noref_games.to_csv("../resources/noref_games.csv", index=False)

In [ ]:
teams.to_csv("../resources/teams.csv", index=False)