In [1]:
import pandas as pd

In [2]:
gamesdf = pd.read_csv("../resources/clean_games.csv")
gamesdf.dtypes

Unnamed: 0           int64
GAME_DATE_EST       object
GAME_ID              int64
HOME_TEAM_ID         int64
VISITOR_TEAM_ID      int64
SEASON               int64
TEAM_ID_home         int64
PTS_home           float64
FG_PCT_home        float64
FT_PCT_home        float64
FG3_PCT_home       float64
AST_home           float64
REB_home           float64
TEAM_ID_away         int64
PTS_away           float64
FG_PCT_away        float64
FT_PCT_away        float64
FG3_PCT_away       float64
AST_away           float64
REB_away           float64
HOME_TEAM_WINS       int64
dtype: object

In [6]:
detailsdf = pd.read_csv("../resources/clean_games_details.csv")
detailsdf = detailsdf.drop(detailsdf[["Unnamed: 0"]], axis=1)
# detailsdf['MIN'] = detailsdf['MIN'].apply(pd.to_datetime, format='%M:%S', errors='coerce')
detailsdf.head()

,GAME_ID,TEAM_ID,PLAYER_ID,PLAYER_NAME,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,REB,AST,STL,BLK,TO,PTS
0,22200477,1610612759,1629641,Romeo Langford,18:06,1.0,1.0,1.000,0.0,0.0,0.000,0.0,0.0,0.0,2.0,0.0,1.0,0.0,2.0,2.0
1,22200477,1610612759,1631110,Jeremy Sochan,31:01,7.0,14.0,0.500,2.0,4.0,0.500,7.0,10.0,0.7,9.0,6.0,1.0,0.0,2.0,23.0
2,22200477,1610612759,1627751,Jakob Poeltl,21:42,6.0,9.0,0.667,0.0,0.0,0.000,1.0,1.0,1.0,4.0,1.0,1.0,0.0,2.0,13.0
3,22200477,1610612759,1630170,Devin Vassell,30:20,4.0,13.0,0.308,1.0,6.0,0.167,1.0,1.0,1.0,9.0,5.0,3.0,0.0,2.0,10.0
4,22200477,1610612759,1630200,Tre Jones,27:44,7.0,12.0,0.583,1.0,3.0,0.333,4.0,4.0,1.0,2.0,3.0,0.0,0.0,2.0,19.0

In [8]:
rankingdf = pd.read_csv("../resources/clean_ranking.csv")
rankingdf = rankingdf.drop(rankingdf[["Unnamed: 0"]], axis=1)
rankingdf.head()

      TEAM_ID CONFERENCE         TEAM   G   W   L  W_PCT        DATE
0  1610612743       West       Denver  30  19  11  0.633  2022-12-22
1  1610612763       West      Memphis  30  19  11  0.633  2022-12-22
2  1610612740       West  New Orleans  31  19  12  0.613  2022-12-22
3  1610612756       West      Phoenix  32  19  13  0.594  2022-12-22
4  1610612746       West  LA Clippers  33  19  14  0.576  2022-12-22

In [9]:
playersdf = pd.read_csv("../resources/players.csv")
playersdf.head()

        PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
0     Royce O'Neale  1610612762    1626220    2019
1  Bojan Bogdanovic  1610612762     202711    2019
2       Rudy Gobert  1610612762     203497    2019
3  Donovan Mitchell  1610612762    1628378    2019
4       Mike Conley  1610612762     201144    2019

In [ ]:
gamesdf.to_csv("../resources/games.csv", index=False)
detailsdf.to_csv("../resources/game_details.csv", index=False)
rankingdf.to_csv("../resources/ranking.csv", index=False)
playersdf.to_csv("../resources/players.csv", index=False)